.albumImage {
  max-width: 70px;
  max-height: 70px;
}

@media screen and (max-width: 1000px) {
  .albumImage {
    max-width: 50px;
    max-height: 50px;
  }
}

.table {
  table-layout: auto;
  width: 50%;
}

.tableContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-left: 20em;
  margin-right: 20em;
}

.tableCell {
  width: 200px;
}
.caption {
  color: white;
}

@media screen and (max-width: 1000px) {
  .albumImage {
    max-width: 50px;
    max-height: 50px;
  }
}

td {
  vertical-align: middle !important;
}
