
.inputListnameCard{
  width: 35%;
  margin: auto;
  margin-top: 1em;
  padding: 10px;
}
.btn-UpperCreate{
  position: fixed;
  bottom: 70%;
 
  right: 0;
}

.closeBtn {
margin-left: 10px;
}

.playlistInput {
border-radius: 10px;
padding: 10px;
}
